{
    "INSTAGRAM_USERNAME": "ENTER YOUR INSTAGRAM USERNAME HERE",
    "INSTAGRAM_PASSWORD": "ENTER YOUR PASSWORD HERE",
    "CROME_DRIVER_PATH": "./chromedriver/windows/chromedriver.exe",
    "USER_DATA_DIR": "./user_data"
}